[user]
  name = Shane Becker
  email = "veganstraightedge@gmail.com"
[github]
  user = veganstraightedge
[push]
  default = current
	default = current
	autoSetupRemote = true
[credential]
  helper = osxkeychain
[log]
  decorate = short
[pull]
  rebase = false
[init]
  defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
